@import '../abstracts/variables';
.meal-details {
    height: 100%; 
    border-radius: 8px;
    overflow: hidden; 
    &__img-con {
        width: 254px;
        height: 254px; 
        overflow: hidden;
        img{
            width:100%;
            height:100%;
        }
      }
    a{
        color:$color-secondary;
    }
  }
  