@import '../abstracts/variables';
.meal-details {
    height: 100%; 
    border-radius: 8px;
    overflow: hidden; 
    &__img-con {
        margin-top:20px;
        width: 30%;
        height: auto; 
        overflow: hidden;
        img{
            width:100%;
            height:100%;
        }
      }
    a{
        color:$color-secondary;
    }
    h2{
      font-size: $font-46px;
    }
    p{
      font-size: $font-20px;
    }
    
  }
  