$color-primary:#ffffff;
$color-secondary:#F79F1A;
$color-green:#046E1B;
$color-author:#7F7D7D;
$color-black:#000000;
//Name in pixel so I don't forget Figma design shown sizes
$font-64px: 4rem;     
$font-46px: 2.875rem;  
$font-32px: 2rem;     
$font-24px: 1.5rem;    
$font-20px: 1.25rem;   
$font-16px: 1rem;      
$font-15ish: 0.96125rem;

