$color-primary:#ffffff;
$color-secondary:#F79F1A;
$color-green:#046E1B;
$color-author:#7F7D7D;
$color-black:#000000;
$font-64px: 64px;
$font-46px: 46px;
$font-32px: 32px;
$font-24px: 24px;
$font-20px: 20px;
$font-16px: 16px;
$font-15ish: 15.38px;

