@import 'bootstrap';
@import 'components/meal';
@import 'components/card';
@import 'components/navbar';
@import 'components/meal-details';
@import 'layouts/mealDetails';
@import 'layouts/home';
body{
    font-family: "Inter", sans-serif;
    color:#181a18;
    h1{
        color: green;
    }
    .container{
        max-width: 1240px;
    }
}