@import 'bootstrap';
@import 'components/meal';
@import 'components/card';
@import 'abstracts/helpers';
@import 'components/navbar';
@import 'components/meal-details';
@import 'layouts/mealDetails';
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#181a18;
    h1{
        color: green;
    }
    .container{
        max-width: 1240px;
    }
}